* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family:'Nanum Gothic',나눔고딕,'Malgun Gothic',맑은고딕,UnDotum,Dotum,Arial,Sans;
}

#footer {
    margin: 20px;
    text-align: center;
}

.rounded {
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    display: inline-block;
    overflow: hidden;
}

.description {
    font-size: 11px;
    text-align: center;
}

.description .title {
    font-weight: bold;
}

body { background-color: #fff; }

h2 {
    margin: 10px;
}

div p {
    padding: 1px;
    margin-left: 10px;
    margin-top: 10px;
}
